

/* ************************************************
   				SPIELFELD: STAPELBOX
   ************************************************ */


.stapel-container {
    display: flex;
	flex-direction: column;
	margin-right: 30px;
}


.stapel {
	position: relative;		/* evtl. abändern, damit ES NICHT AUS DEM SCREEN FLUTSCHT???*/
	
	width: 200px;
	height: 300px;

	background: #141914d9;
	border: 2px solid #4a7a4a4d;
	border-radius: 8px;
	box-shadow: 0 0 12px #000000cc, 0 0 6px #4a7a4a4d inset;
	
}


.gegner-counter-wrap {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 70px;

	padding: 113px 50px 113px 50px; /* oben rechts unten links */
	/* 300px Gesamt - 70px font-size - 2x2px border = 113px */

	border-radius: 50%;
	border: 2px solid #4a7a4a4d;

}


/* ************************************************
   		SPIELFELD: GRUNDGERÜST GEGNER
   ************************************************ */

.gegner-container {
	display: flex;
	gap: 25px;				/* Abstand zwischen Karten */
	margin-bottom: 20px;	/* space to User-Würfel -> später space to Gegnerwürfel*/

}


/* ************************************************
   		SPIELFELD: DESIGN GEGNERKARTEN
   ************************************************ */


/*** Karten-Design ***/
.karten {
	width: 200px;
	height: 300px;

	background: #141914d9;
	border: 2px solid #4a7a4a4d;
	border-radius: 8px;
	box-shadow: 0 0 12px #000000cc, 0 0 6px #4a7a4a4d inset;
}


/*** "Klickbar" + Zoom-Hover ***/
.karten {
	cursor: pointer;
	transition: all 0.3s ease; /* zoom-pace: 0.2? oder 0.3? */
}


.karten:hover {
	box-shadow: 0 0 8px #4a7a4a4d; 
	transform: scale(1.05);
}



/* ************************************************
   			SPIELFELD: KARTE INKL. WÜRFEL
   ************************************************ */

/*** Gegnerkarte-SINGLE inkl. Gegnerwürfel ***/
.single-container {
	display: flex;
	flex-direction: column;

	gap: 10px;
	margin-bottom: 30px;

}


/*** nur Gegnerwürfel ***/
.gw-container {
    display: flex;
    gap: 10px;   
    justify-content: center;

}

/*** Gegnerwürfel-Design ***/
.gegner-wuerfel {
	position: relative;
	width: 40px;
	height: 40px;

    background: #141914d9;
    border: 1px solid #4a7a4a4d;
    border-radius: 8px;
    box-shadow: 0 0 12px #000000cc, 0 0 6px #4a7a4a4d inset;

}

.gegner-auge {
	position: absolute;

    width: 7px;
    height: 7px;

    background: #98b598;
    border-radius: 100%;
    box-shadow: 0 0 5px #6aff6a, 0 0 2px #6aff6a inset;
}