
/* ************************************************
   GAMEOVER-FENSTER
   ************************************************ */


.gamecomplete-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);    /* mit opacity */

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 20000;
}

.gamecomplete-window {
    background: #141914;
    border: 2px solid #4a7a4a;
    padding: 30px 100px 30px 100px; /* oben rechts unten links */
    text-align: center;

    box-shadow: 0 0 40px #4a7a4a66;
}

/* ************************************************
   TEXT
   ************************************************ */

.gamecomplete-window h1 {
    font-size: 60px;
    color: #98b598;
    /* evtl. noch shadow? more glowwww??*/
}

.gamecomplete-text {
    font-family: inherit;
    color: #98b598;

    font-size: 25px;

    margin-bottom: 30px;
}


/* ************************************************
   BUTTON-DESIGN
   ************************************************ */
/* mostly aus style-spielfeld-player-wuerfel*/

.gamecomplete-button-wrap {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gamecomplete-window button {
    position: relative;
        
    /*padding: 11px 20px 11px 20px;     alternatiiiiv */
    width: 200px;
    height: 60px;
    margin-bottom: 8px;  /* gap*/

    background: #0a0f0a; 
    border: 1px solid #4a7a4a4d;

    color: #98b598;
    font-size: 24px;
    font-family: inherit;

    text-transform: uppercase;
    letter-spacing: 1px;
}


/* Button-Zuschnitt wie bei Menu-Button */
.gamecomplete-window button {

    clip-path: polygon(
                    10px 0, 
                    100% 0, 
                    100% calc(100% - 10px), 
                    calc(100% - 10px) 100%, 
                    0 100%, 
                    0 10px);
}

/*** "Klickbar" + Zoom-Hover ***/
.gamecomplete-window button {
    cursor: pointer;
    transition: 0.2s ease;
}

.gamecomplete-window button:hover {
    border-color: #4a7a4a;
    color: #4a7a4a;

    transform: scale(1.05);
}



/* ************************************************
   FINAL-PUNKTE - ANIMATION
   ************************************************ */

.final-score {
    color: #7bbd7b;
    text-shadow:
        0 0 5px #7bbd7b,
        0 0 15px #7bbd7b,
        0 0 30px #4a7a4a;

    animation: final-effect 2s infinite alternate;
}

@keyframes final-effect {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}


/* ************************************************
   HP-BONUS - ANIMATION
   ************************************************ */

.hp-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: relative;     /* wegen popup */
}


.bonus-popup {
    position: absolute;

    left: 70%;              /* rechts neben HP */
    margin-left: 0px;

    color: #7bbd7b;
    font-size: 25px;
    font-weight: bold;

    animation: bonus-effect 0.7s ease-out forwards;
}


@keyframes bonus-effect {

    0% {
        opacity: 0;
        transform: translateY(10px) scale(0.9);;
    }

    30% {
        opacity: 1;
        transform: translateY(0px) scale(1)
    }

    100% {
        opacity: 0;
        transform: translateY(-18px) scale(1.05);
    }

}