/* ************************************************
   HIGHSCORE OVERLAY
   ************************************************ */

.highscore-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 20000;
}

.highscore-window {
    width: min(600px, 90vw);
    max-height: 85vh;

    background: #141914;
    border: 2px solid #4a7a4a;
    padding: 30px 80px 30px 80px;
    box-shadow: 0 0 40px #4a7a4a66;

    padding: clamp(30px, 5vw, 60px);
    overflow-y: auto;

    text-align: center;
}

/* ************************************************
   TITLE
   ************************************************ */

.highscore-window h1 {
    font-size: 65px;
    color: #98b598;
    margin-bottom: 20px;
}


/* ************************************************
   HIGHSCORE LIST
   ************************************************ */

.highscore-window ol {
    list-style: none;
    padding: 0;
    margin: 0 0 25px 0;
}

.highscore-window li {
    display: flex;
    justify-content: space-between;

    width: 300px;
    margin: 5px auto;

    color: #98b598;
    font-size: 25px;
}

/* Rangnummer links */
.highscore-window li::before {
    content: counter(item) ". ";
    counter-increment: item;
}

/* Counter reset */
.highscore-window ol {
    counter-reset: item;
}

/* Platznummer */
.highscore-window li span.rank {
    opacity: 0.7;
}

/* Score rechts */
.highscore-window li span.score {
    font-weight: bold;
}

/* ************************************************
   TOP-HIGHSCORE-EFFEKT
   ************************************************ */

.highscore-window li:first-child {
    color: #7bbd7b;
    text-shadow:
        0 0 5px #7bbd7b,
        0 0 15px #7bbd7b,
        0 0 25px #4a7a4a;
}




/* ************************************************
   BUTTON-DESIGN
   ************************************************ */


.highscore-window button {

    position: relative;

    width: 200px;
    height: 60px;
    margin-bottom: 8px;  /* gap*/

    background: #0a0f0a;
    border: 1px solid #4a7a4a4d;

    color: #98b598;
    font-size: 24px;
    font-family: inherit;

    text-transform: uppercase;
    letter-spacing: 1px;

}


/* Button-Zuschnitt wie bei Menu-Button */
.highscore-window button {

    clip-path: polygon(
                    10px 0, 
                    100% 0, 
                    100% calc(100% - 10px), 
                    calc(100% - 10px) 100%, 
                    0 100%, 
                    0 10px);
}


/*** "Klickbar" + Zoom-Hover ***/
.highscore-window button {
    cursor: pointer;
    transition: 0.2s ease;
}


.highscore-window button:hover {
    border-color: #4a7a4a;
    color: #4a7a4a;

    transform: scale(1.05);
}