

/* ************************************************
   TRANSITIONS
   ************************************************ */


.highscore-overlay,
.guide-overlay,
.gameover-overlay,
.complete-overlay {
   animation: overlayFade 0.25s ease;
}



.highscore-window {
    animation: windowPop 0.25s ease;
}

.guide-window {
    animation: windowPop 0.25s ease;
}

/* ENTER FENSTER */
.overlay-enter {
    animation: overlayFadeIn 0.25s ease forwards;
}

.window-enter {
    animation: windowPopIn 0.25s ease forwards;
}

/* EXIT FENSTER */
.overlay-exit {
    animation: overlayFadeOut 0.25s ease forwards;
}

.window-exit {
    animation: windowPopOut 0.25s ease forwards;
}


/* FRAMES */

@keyframes overlayFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes overlayFadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}


@keyframes windowPopIn {

    0% {
        opacity: 0;
        transform: scale(0.92);
    }

    70% {
        transform: scale(1.02);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}


@keyframes windowPopOut {

    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }

}