
/* ************************************************
					ALLGEMEIN
   ************************************************ */

/* COLOR PALETTE
	- BG 							#0a0f0a
	- text 							#98b598

	- borders 						#4a7a4a4d			//same bei kartenhover (border + shadow) && button
	- border shadow out				#000000cc			//dark, für "hervorgehoben"-Effekt
	- border shadow in				#4a7a4a4d			//green wie border, für "cyber"-Effekt

	- fill 							#141914d9
	- fill button					#0a0f0a


EINZELOPFER
	- augen							#98b598
	- augen shadow					#6aff6a 			//für besseren glow (oder #6aff6a55 - naah, more GLOW)

	- border wuerfel:lock			#98b598 			//(augen) oder #4a7a4a (button-rand fav!) oder #6aff6a (falls leuchtender)
	- shadow out					#6aff6a55 			//(oder #4a7a4a4d - naah)
	- shadow in						#4a7a4a4d 			//oder #6aff6a88 falls leuchtender
	
	- border + text button:hover	#4a7a4a 			//so leuchtender (bloß nicht auch #6aff6a55 zuuu viel glow xD)

*/



/* MIT VARIOUS WRAPPER */
	
body {
    
	background: #0a0f0a;
    font-family: 'VT323', monospace;
    color: #98b598;
	overflow: hidden;
}


/* Game-Fenster - wie body */
#game-wrapper {

	display: flex;
	height: 100dvh;
	justify-content: center; 
	align-items: center; 
	overflow: hidden;
}


/* Spielfeld - Wrapper für center */
#game-board {

	display: grid;
	position: relative;

	width: 1600px; 
	/*height: 900px;*/
	
	place-items: center;
	box-sizing: border-box;
	overflow: hidden;
	transform-origin: center center;
}


/* Spielfeld - Wrapper für complete-content */
.game-content {

	min-height: 100%;
	min-width: 320px;
	position: relative;
	overflow: hidden;
	 
}


/* Spielfeld - Wrapper für single-elements (Karten-, Würfel-, Buttonfeld */
.game-element {

	margin-bottom: 10px;
	margin-top: 10px;

}



/* Zoom-Settings */
.game-zoom {
	zoom: var(--game-zoom)
}

.framework-parts-zoom {
	zoom: var(--framework-parts-zoom)
}