




/* ************************************************
   				style-spielfeld-layout
   ************************************************ */

/*

.karten-wrap {
	border: 2px solid #6495ED;
}

.punkte-wrap {
	border: 2px solid #BA55D3; 
}

.wuerfel-wrap {
	border: 2px solid #BA55D3; 
}

.button-wrap {
	border: 2px solid #b0ec8e; 
}

*/



/* ************************************************
   				style-spielfeld-gegner
   ************************************************ */

/*

.stapel-container { 
	border: 2px solid #145c14; 
}

.stapel {
	border: 2px solid #70c070; 
}

.gegner-container {
	border: 2px solid #70060f; 
}

.single-container {
	border: 2px solid #5f195f; 
}

.karten {
	border: 1px solid #ffffff;
}

.gw-container {
	border: 2px solid #c45e85; 
}

*/